<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/main" method="post" enctype = "multipart/form-data">
        <div class="profile-pic-div">
            <input type="file" name="myfile" required>
        </div>
        <button class="dropbtn" type="submit">Submit</button>
    </form>
    
</body>
</html>
